html, body {
    font-size: 100%;
}
body {
    background: url("../img/photo.png") repeat fixed center center !important;
    font-family: 'Athiti', sans-serif;
}

input,
button {
    outline: none !important;
}

textarea {
    resize: none;
}

.logo {
    padding-top: 5px;
}

.container-wth-margins {
    margin: 0px;
    padding: 0px;
}

.directory {
    background: url("../img/uk_flag.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.breadcrumb-custom {
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 0px;
    font-size: 20px;
    color: rgb(45,45,45);
    background: transparent;
    margin-bottom: 0px;
    padding-left: 10%;
}

.breadcrumb-custom > li {
    text-transform: uppercase;
    font-size: 24px;
}

.breadcrumb-custom > .active {
    color: rgb(255,255,255);
    font-size: 24px;
    font-weight: 300;
}

.breadcrumb-custom>li+li:before {
    color: rgb(255,255,255);
    font-size: 24px;
    font-weight: 700;
}

.breadcrumb-custom > li > a {
    color: rgb(255,255,255);
    font-size: 24px;
    font-weight: 700;
    text-decoration: none;
}


.footer {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    background: rgb(45,45,45) repeat fixed center center;
}

.footer-header {
    color: rgb(255,255,255);
    font-weight: 500;
    font-size: 1.6rem;
}

.footer-list > li {
    background-color: transparent;
    border: none;
    font-weight: 300;
}


.footer-list > li > a,
.footer-list > li > a:hover,
.footer-list > li > a:focus,
.footer-list > li > a:active {
    color: rgb(255,255,255);
    text-decoration: none;
    outline: none;
}

.list-group-item-social a {
    margin-right: 10px;
    font-size: 4rem;
    color: rgb(255,255,255);
}

.list-group-item-social a:last-child {
    margin-right: 0px;
}

.fb:hover,
.fb:focus,
.fb:active {
    color: #3B5997;
}

.tw:hover,
.tw:focus,
.tw:active {
    color: #1DA1F3;
}

.gplus:hover,
.gplus:focus,
.gplus:active {
    color: #DC493C;
}


.error {
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 60px;
}

.error a {
    text-decoration: none;
    font-weight: 700;
    color: rgb(51,51,51);
}

.page-header h1 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.loading {
    position: fixed;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: rgb(45,45,45);
    z-index: 1031;
    display: block;
}

.loading .gif {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.book-container {
    margin-top: 40px;
    margin-bottom: 40px;
}

.book-dir {
    margin-top: -106px;
    padding-top: 106px;
}

.nav-book {
    background-color: rgba(0,0,0,0.4) !important;
}

.book-info {
    width: 100%;
    background: url("../img/photo.png") repeat fixed center center;
}

.book-footer {
    background: rgba(0,0,0,0.4);
}

.book-row {
    display: flex;
    align-items: stretch;
}

.card {
    border-radius: 0px;
    border: 2px solid rgb(255,255,255);
    padding: 0px;
}

.data-img {
    width: 100%;
    height: 100%;
}

.card-desc {
    display: flex;
    padding: 30px;
    background: rgba(0,0,0,0.2);
}

.card-body {
    align-self: center;
    color: rgb(255,255,255);
}

.card-body .data-title {
    font-size: 1.7rem;
    font-weight: 500;
}

.card-body .data-publisher {
    text-transform: uppercase;
    font-size: 1.3rem;
    font-weight: 300;
}

.card-body .data-description {
    text-align: justify;
}

.btn-access,
.btn-access:hover,
.btn-access:after,
.btn-access:focus {
    margin-top: 10px;
    background-color: rgba(255,255,255,0.1);
    border: none;
    border-radius: 0px;
    color: rgb(255,255,255);
    padding: 10px;
    font-size: 1.5rem;
}

.units-row {
    margin-top: 100px;
}

.text-units {
    font-size: 3rem;
    color: rgb(255,255,255);
    font-weight: 700;
}

.table.no-border tr td {
    border-bottom: 1px solid rgba(255,255,255,0.1);
}

.units {
    list-style-type: none;
    color: rgb(255,255,255);
}

.units li {
    padding: 5px 0px;
    font-size: 1.4rem;
    font-weight: 300;
    text-transform: uppercase;
    font-weight: 500;
}

.table-responsive .table {
    table-layout: fixed;
}

.table-responsive .table tr td {
    padding: 20px 10px;
}

.table-hover>tbody>tr:hover {
    background: rgba(0,0,0,0.4);
}

.rules {
    background: rgb(255,255,255);
}

.units li > span {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 41px;
    background-color: rgba(0,0,0,0.3);
    border: 2px solid rgb(255,255,255);
    color: rgb(255,255,255);
    text-align: center;
    margin-right: 20px;
}