<div class="login-dark">
  <form method="post" style="background-color:rgba(11,11,11,0.61);border-radius:0px;border:1px solid rgb(255,255,255);" autocomplete="off">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration"><i class="icon ion-ios-locked-outline" style="color:rgb(249,250,252);"></i></div>
    <div class="form-group">
      <input class="form-control" type="email" name="email" placeholder="Email" autocomplete="new-login">
    </div>
    <div class="form-group">
      <input class="form-control" type="password" name="password" placeholder="Hasło" autocomplete="new-password">
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit" style="background-color:transparent;border:1px solid rgb(255,255,255);border-radius:0;">Zaloguj się</button>
    </div>
    <a href="#" class="forgot" style="color:rgb(255,255,255);">Zapomniałem hasła?</a>
    <br>
    <div class="form-group">
      <button class="btn btn-primary btn-block jump-to-register" type="button" onclick="triggerRegister()" style="background-color:rgb(255,255,255);border:1px solid rgb(255,255,255);border-radius:0; color: rgba(0,0,0,0.6)">Chcę stworzyć konto</button>
    </div>
  </form>
</div>
