<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- <link rel="icon" href="../../favicon.ico"> -->

    <title>WordTool</title>

    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/pe-icon-7-stroke.css" rel="stylesheet">
    <link href="../../css/ct-navbar.css" rel="stylesheet">
    <link href="../../css/static.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:100,300,400,700,800,900|Alegreya+Sans:100,300,400,700,800,900|Armata|Athiti:200,300,400,500,600,700&amp;subset=latin-ext" rel="stylesheet">
    <link href="../../css/slick.css" rel="stylesheet" type="text/css" />
    <link href="../../css/slick-theme.css" rel="stylesheet" type="text/css" />
    <link href="../../css/font-awesome.min.css" rel="stylesheet" />
</head>
<body class="rules">
<div class="loading">
    <img src="../../img/Ellipsis.svg" class="gif"/>
</div>
<nav class="navbar navbar-ct-black nav-book" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand navbar-brand-logo" href="#">
                <div class="logo">
                    <img class="wt_logo" src="../../img/wt_logo_white.png" width="200">
                </div>
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="../../">
                        <i class="pe-7s-home"></i>
                        <p>Strona Główna</p>
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <i class="pe-7s-user"></i>
                        <p>Użytkownik <b class="caret"></b></p>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="#"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> Moje dane</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Postęp nauki</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-book" aria-hidden="true"></span> Moje książki</a></li>
                        <li><a href="#"><span class="glyphicon glyphicon-tags" aria-hidden="true"></span>  Regulamin</a></li>
                        <li class="divider"></li>
                        <li><a href="#"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> Wyloguj</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-right navbar-search-form" role="search">
                <div class="form-group">
                    <input type="text" value="" class="form-control nav-search" placeholder="Szukaj!">
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="directory book-dir">
    <div class="container-fluid container-wth-margins">
        <div class="row container-wth-margins">
            <div class="col-xs-12 container-wth-margins">
                <ol class="breadcrumb breadcrumb-custom">
                    <li><a href="../../">WordTool</a></li>
                    <li class="active">Regulamin</li>
                </ol>
            </div>
        </div>
    </div>
</section>
<section class="rules">
    <div class="container">
        <div class="col-xs-12">
            <div class="page-header">
                <h1>Regulamin</h1>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <article>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer placerat non nisi ut ultrices. Aliquam et venenatis dolor. Nam hendrerit faucibus enim sollicitudin viverra. Morbi dignissim porttitor consequat. Vestibulum erat dui, facilisis id nibh ac, feugiat auctor nibh. Sed eget interdum dui. Suspendisse vel odio odio. Donec consectetur pharetra elit, eu semper risus fermentum eu. Duis in nibh eu arcu dignissim tristique sit amet nec velit. Etiam rhoncus orci at dui fringilla venenatis. Morbi ac nulla euismod, congue libero et, lacinia nisi. Ut tincidunt egestas dui quis molestie. Sed ut gravida nulla.</p>
                        <p>Duis nisl lacus, ornare eu molestie euismod, commodo id diam. Nullam suscipit nec velit eget blandit. Maecenas ac facilisis urna. Pellentesque lectus mi, placerat non metus id, luctus ullamcorper enim. Nulla dapibus urna in convallis varius. Suspendisse posuere lobortis elit. Sed libero nisl, sodales at volutpat vel, imperdiet eget odio. In vel turpis nec diam fringilla consectetur. Donec cursus elit sed erat dapibus, vel consectetur arcu sagittis. Fusce pretium nunc a tempor tempus. Vestibulum bibendum quam a lorem cursus vehicula. Vivamus sagittis aliquet odio, eu lacinia lacus ultrices ullamcorper. Nunc eu finibus nulla, ut accumsan neque. Proin vitae sapien eros. Donec nec dolor ac risus convallis suscipit eu et lorem.</p>
                        <p>Aliquam tincidunt luctus scelerisque. Maecenas enim metus, luctus eu fringilla ac, varius bibendum nulla. Aenean aliquam hendrerit laoreet. Aliquam a arcu aliquam, feugiat diam interdum, suscipit mi. Proin vitae rutrum sapien. Donec venenatis elit ut tincidunt feugiat. Curabitur quam nibh, euismod eget lorem pellentesque, rutrum imperdiet libero. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris ac nisi tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla at porta nibh, quis dictum mauris. Aenean viverra nisi felis, sit amet vehicula diam luctus quis. Aenean aliquam fringilla nulla, non posuere sem imperdiet id. Integer sagittis vulputate tellus eget iaculis. Phasellus dolor ante, sollicitudin a quam ut, convallis aliquam magna. Donec dolor quam, placerat in ex et, molestie hendrerit elit.</p>
                        <p>Nulla semper condimentum blandit. Phasellus convallis vestibulum ligula, ut condimentum nulla commodo a. Mauris ac magna nibh. Morbi eget sagittis lectus. Praesent et eros justo. Sed et erat dignissim ligula euismod varius. Proin dignissim vestibulum dui. Nulla at ullamcorper dolor. Sed at ex semper, sagittis magna id, interdum justo. Vestibulum congue mattis lorem, et tempor quam placerat sed. Maecenas urna tortor, vulputate a aliquam quis, luctus tempor dolor. Vivamus at sagittis velit.</p>
                        <p>Mauris rhoncus blandit convallis. Aenean mollis ultricies ex vel ultricies. Duis interdum, libero in ultricies tempor, elit turpis efficitur est, id fringilla erat risus finibus dolor. Suspendisse euismod urna risus. Suspendisse quis ante id magna porttitor suscipit nec eget leo. Proin arcu tortor, porttitor a iaculis vel, hendrerit ut erat. Proin sit amet scelerisque nulla.</p>
                        <p>Donec vitae fringilla magna. Duis eget eleifend nisl, venenatis tristique tortor. Cras commodo quam eu neque semper, a viverra arcu ornare. Nam egestas hendrerit lectus, a bibendum tortor ultricies non. Suspendisse nibh ligula, pellentesque maximus nulla sit amet, condimentum finibus urna. Ut egestas, tortor in congue pellentesque, dolor mauris consectetur risus, et sodales diam lectus sed ex. Donec eget varius elit.</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="footer book-footer" id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4 col-xs-12">
                <div class="page-header">
                    <h1 class="footer-header">Nawigacja</h1>
                </div>
                <ul class="list-group footer-list">
                    <li class="list-group-item"><a href="../../index.php#description">Czym jest WordTool?</a></li>
                    <li class="list-group-item"><a href="../../index.php#books"> Dostępne materiały</a></li>
                    <li class="list-group-item"><a href="../../index.php#contact">Kontakt</a></li>
                    <li class="list-group-item"><a href="../../index.php#donate">Wesprzyj nas!</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="page-header">
                    <h1 class="footer-header">Korzystaj z WordTool!</h1>
                </div>
                <ul class="list-group footer-list">
                    <li class="list-group-item"><a href="./server/login/index.php">Logowanie</a></li>
                    <li class="list-group-item"><a href="./server/login/index.php">Rejestracja</a></li>
                    <li class="list-group-item"><a href="./shoppings.html">Zakupy</a></li>
                    <li class="list-group-item"><a href="#">Regulamin</a></li>
                </ul>
            </div>
            <div class="col-md-4 col-xs-12">
                <div class="page-header">
                    <h1 class="footer-header">Podążaj za nami!</h1>
                </div>
                <ul class="list-group footer-list text-center">
                    <li class="list-group-item list-group-item-social">
                        <a href="http://facebook.com" target="_blank"><i class="fa fa-facebook-official fb" aria-hidden="true"></i></a>
                        <a href="http://twitter.com" target="_blank"><i class="fa fa-twitter tw" aria-hidden="true"></i></a>
                        <a href="http://plus.google.com" target="_blank"><i class="fa fa-google-plus-official gplus" aria-hidden="true"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script>window.jQuery || document.write('<script src="../../js/jquery.js"><\/script>')</script>
<script src="../../js/bootstrap.min.js"></script>
<script src="../../js/ct-navbar.js"></script>
<script src="../../js/static.js"></script>
<script src="../../js/slick.min.js"></script>
</body>
</html>