.panel {
  position: relative;
}
.choose-unit {
  background-color: rgb(180,180,180);
  border-radius: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
  padding: 20px 60px;
}
.choose-unit p {
  color: rgb(255,255,255);
  font-size: 25px;
}
.left-hand {
  font-size: 200px;
  color: rgb(255,255,255);
}
.loading {
  position: relative;
  top: 0;
  height: 370px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.05);
  z-index: 1031;
  display: block;
}

.loading .gif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.learn-mode {
  width: 100%;
  height: 100%;
}
.correct-indicator span {
  font-size: 130px;
  color: red;
}

.upper-form {
  margin: 30px 0px 10px 0px;
  font-size: 25px;
}

.counters {
  margin-top: 60px;
}

.progress{
    width: 150px;
    height: 150px;
    line-height: 150px;
    background: none;
    margin: 0 auto;
    box-shadow: none;
    position: relative;
}
.progress::after{
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 2px solid rgb(0,0,0);
    position: absolute;
    top: 0;
    left: 0;
}
.progress > span{
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 1;
}
.progress .progress-left{
    left: 0;
}
.progress .progress-bar{
    width: 100%;
    height: 100%;
    background: none;
    border-width: 12px;
    border-style: solid;
    position: absolute;
    top: 0;
}
.progress .progress-left .progress-bar{
    left: 100%;
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    border-left: 0;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}
.progress .progress-right{
    right: 0;
}
.progress .progress-right .progress-bar{
    left: -100%;
    border-top-left-radius: 80px;
    border-bottom-left-radius: 80px;
    border-right: 0;
    -webkit-transform-origin: center right;
    transform-origin: center right;
}
.progress .progress-value{
    width: 90%;
    height: 90%;
    border-radius: 50%;
    background: transparent;
    font-size: 55px;
    color: rgb(0, 0, 0);
    font-weight: lighter;
    line-height: 135px;
    text-align: center;
    position: absolute;
    top: 5%;
    left: 5%;
}
.progress.orange::after {
    border-color: #d5a000;
}
.progress.orange .progress-value {
  color: #d5a000;
}
.progress.red::after {
    border-color: #c10d0d;
}
.progress.red .progress-value {
  color: #c10d0d;
}
.progress.green::after {
    border-color: #089600;
}
.progress.green .progress-value {
  color: #089600;
}

.word-control {
  padding: 0px 70px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {display:none;}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.listen,
.say {
  font-size: 70px;
  display: block;
}

.alert-information,
.alert-result {
  display: none;
}
.carousel-bg {
  background: rgba(0,0,0,0.6);
}

.carousel-cheat,
.carousel-inner-cheat {
    width: 600px;
}

.carousel-inner-cheat>.item>a>img, .carousel-inner-cheat>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    width: 600px;
    height: 450px;
}

.modal-cheat.in .modal-dialog-cheat {
    width:100%;
    margin: 0px;
    height: 100%;
}

.modal-content-cheat {
    height: 100%;
}

.modal-body-cheat {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal-footer-cheat {
    position: absolute;
    bottom: 0;
    width: 100%;
}

#cheatSheet {
    padding: 0px !important;
}